<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/**
 * Shipping Estimate extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   EcomDev
 * @package    EcomDev_ProductPageShipping
 * @copyright  Copyright (c) 2011 EcomDev BV (http://www.ecomdev.org)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author     Ivan Chepurnyi <ivan.chepurnyi@ecomdev.org>
 */
-->
<config>
    <sections>
        <ecomdev_productpageshipping module="ecomdev_productpageshipping" label="label">
            <class>separator-top</class>
            <label>Product Page Shipping</label>
            <tab>catalog</tab>
            <frontend_type>text</frontend_type>
            <sort_order>45</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Product Page Shipping Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Product Page Shipping</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <display_position translate="label comment">
                            <label>Display In</label>
                            <frontend_type>select</frontend_type>
                            <comment>Position of the block depends on your theme layout</comment>
                            <source_model>ecomdev_productpageshipping/config_source_position</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_position>
                        <display_position_flag translate="label comment">
                            <label>Positioning Logic</label>
                            <frontend_type>select</frontend_type>
                            <comment>Specify desired position of estimator form</comment>
                            <source_model>ecomdev_productpageshipping/config_source_position_flag</source_model>
                            <sort_order>71</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_position_flag>
                        <display_position_block translate="label comment">
                            <label>Positioning Block Alias</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Specify block alias in layout that should be used for positiong of form. Leave empty if form should be placed as first/last. <br /> Some popular values: <br /><strong>cart_sidebar</strong> - Shopping Cart<br /><strong>catalog.product.related</strong> - Related Products<br /><strong>tags_popular</strong> - Tags Cloud]]></comment>
                            <sort_order>72</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_position_block>
                        <use_country translate="label">
                            <label>Display Country Dropdown</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_country>
                        <use_region translate="label">
                            <label>Display Region Field</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_region>
                        <use_city translate="label">
                            <label>Display City Field</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_city>
                        <use_postcode translate="label">
                            <label>Display Zip/Postal Code Field</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>400</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_postcode>
                        <use_coupon_code translate="label">
                            <label>Display Coupon Code Field</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>500</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_coupon_code>
                        <use_cart translate="label">
                            <label>Display Include Cart Items Field</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>600</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_cart>
                        <use_cart_default translate="label">
                            <label>Include Cart Items by Default</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>700</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_cart_default>
                    </fields>
                </settings>
            </groups>
        </ecomdev_productpageshipping>
    </sections>
</config>
